.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_box {
  padding: 16px;
}
.login_content {
  width: 400px;
  min-height: 450px;
}

@media (max-width: 640px) {
  .login_content {
    width: 100%;
  }
}