.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-content {
  width: 1000px;
  min-height: 650px;
  display: flex;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border-radius: 10px;
}

.register-form {
  width: 50%;
  overflow: hidden;
}
.return-home {
  margin-top: 18px;
  text-align: left;
}

.form-title {
  text-align: left;
  line-height: 1.66;
  margin-top: 18px;
  padding: 0;
  font-weight: 700;
  color: #222;
  font-family: Poppins;
  font-size: 36px;
  margin-bottom: 30px;
}
.form-content {
  margin: 0 80px;
}
.form-group {
  text-align: left;
  position: relative;
  margin-bottom: 0px;
  overflow: hidden;
}
.mb-20px{
  margin-bottom: 20px;
}
.form-group label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) ;
  color: #222;
  margin-left: 8px;
}
.form-group input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box;
}
.btn-show-pass {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.form-group-agree {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-group-agree input {
  width: 16px;
  height: 16px;
}
.form-group-agree span {
  font-size: 14px;
}
.agree-input {

}
.agree-label{

}
.form-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-register {
  padding: 8px 20px;
  border-radius: 10px;
  background-color: #0edc8d;
  color: #ffffff;
}
.btn-register:hover {
  opacity: 0.8;
}
.back-home {
  text-align: left;
  margin-top: 30px;
  margin-left: 20px;
}
.input-error {
  border: 1px solid red !important;
}
@media (max-width: 1080px) {
  .register-content {
    width: 80%;
  }
  .form-content {
    margin: 0 30px;
  }
}

@media (max-width: 640px) {
  .register-form {
    width: 100%;
  }
  .register-image {
    display: none;
  }
}